@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Este é o gerenciador de PDI, faça seu cadastro e comece a utilizar.</p>
</div>